.navbar-text > a {
	color: inherit;
	text-decoration: none;
}
.navbar-default {
	background-color:rgb(65, 65, 65);
	border-color: #FFFFFF;
	color: #FFFFFF;
}

.navbar-default .navbar-brand {
	color: #FFFFFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color: #18BC9C;
	background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
	color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #FFFFFF;
	background-color: #00853E;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color: #000000;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	background-color: #000000;
	color: #FFFFFF;
}

body {
	padding-top: 70px;
	padding-bottom: 100px;
}

/* jssor slider bullet navigator skin 05 css */
/*
.jssorb05 div           (normal)
.jssorb05 div:hover     (normal mouseover)
.jssorb05 .av           (active)
.jssorb05 .av:hover     (active mouseover)
.jssorb05 .dn           (mousedown)
*/
.jssorb05 {
	position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
	position: absolute;
	/* size of bullet elment */
	width: 16px;
	height: 16px;
	background: url(../images/b05.png) no-repeat;
	overflow: hidden;
	cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

/* jssor slider arrow navigator skin 11 css */
/*
.jssora11l                  (normal)
.jssora11r                  (normal)
.jssora11l:hover            (normal mouseover)
.jssora11r:hover            (normal mouseover)
.jssora11l.jssora11ldn      (mousedown)
.jssora11r.jssora11rdn      (mousedown)
*/
.jssora11l, .jssora11r {
	display: block;
	position: absolute;
	/* size of arrow element */
	width: 37px;
	height: 37px;
	cursor: pointer;
	background: url(../images/a11.png) no-repeat;
	overflow: hidden;
}
.jssora11l { background-position: -11px -41px; }
.jssora11r { background-position: -71px -41px; }
.jssora11l:hover { background-position: -131px -41px; }
.jssora11r:hover { background-position: -191px -41px; }
.jssora11l.jssora11ldn { background-position: -251px -41px; }
.jssora11r.jssora11rdn { background-position: -311px -41px; }