html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#navContent{
    margin:auto;
    width:960px;
    height:800px;
    position: relative;
    overflow:hidden;
}

#game1{
    margin:auto;
    width:960px;
    height:800px;
    right:0px;
    position:absolute;
}

#game2{
    margin:auto;
    width:960px;
    height:800px;
    right:-960px;
    position:absolute;
}

.questionText{
    font-size:18px;
    color:#000000;
}

.spacer{
    height:30px;
}

@media screen and (max-width:960px) {
    #topbar{margin-left:1%;margin-right:1%;	width:98%;}
    #navContent{margin:1%;	width:98%;}
    #game1{margin:1%;	width:98%;}
    #game2{margin:1%;	width:98%;}
}

#rateSlider {
    width: 1000px;
}

#rateSliderTip .slider-handle {
    background: #007034;
}

#rateSliderTip .slider-selection {
    background: #007034;
}